@import "~/src/styles/variables";

.titleWrapper {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.introId {
  color: $color-header-light-bg;
  letter-spacing: -1px;
  font-weight: 100;
  -webkit-text-stroke: 1px $color-title;
  text-shadow: -1px -1px 3px $color-title, 1px -1px 8px $color-title,
    -1px 1px 8px $color-title, 1px 1px 0 $color-title;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0;
  line-height: normal;

  &:nth-child(2) {
    letter-spacing: 5px;
  }
}

.name {
  position: relative;
  white-space: nowrap;
  cursor: help;
  display: inline-block;
  font-weight: 900;
  letter-spacing: normal;
  color: $color-title;
  -webkit-text-stroke: 3px $color-title;
  text-shadow: none;
}

.waveWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:hover .wave {
    transition: 4000s linear;
    background-position-x: 161110.55px;
  }
}

.wave {
  position: absolute;
  background-image: url("~/public/images/wave.svg");
  background-repeat: repeat-x;
  background-position-x: 65px;
  background-position-y: 0;
  bottom: 0;
  opacity: 0.5;
  width: 100%;
  height: 40%;
}

.introRole {
  margin: 0;
  color: $color-header-light-bg;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: normal;
  text-shadow: -1px -1px 0 $color-title, 1px -1px 0 $color-title,
    -1px 1px 0 $color-title, 1px 1px 0 $color-title;
}

@media screen and (max-width: 768px) {
  .introId {
    -webkit-text-stroke: none;
    text-shadow: -1px -1px 0 $color-title, 1px -1px 0 $color-title,
    -1px 1px 0 $color-title, 1px 1px 0 $color-title;
    font-weight: 100;
    font-size: 2.5rem;
  }
}
